@import url('https://fonts.googleapis.com/css?family=BioRhyme+Expanded');
#pandatitle{
    font-size: 50px;
}
body{
    background-image: url("bamboo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    font-family: 'BioRhyme Expanded', serif;
}

img#panda{
    position: absolute;
    right: 5vw;
    top: 15vw;
    width: 30vw;
}

img#panda2{
    position: absolute;
    left: 5vw;
    top: 30vw;
    width: 30vw;
}


h1{
    text-align: center;
    font-size: 40px;
    color: green;
}

.cen{
    height: 50px;
    width: 100px;
    font-size: 15px;
    background-color: orange;
    color: black;


}

.cen:hover{
    background-image: url(img4.gif);
    color: white;
    background-size: cover;
}

.textcen{
    height: 25px;
    width: 200px;
    opacity: 0.8;
}



#spells{
    color: white;
    padding-left: 0;
}

#spellbutton{
    height: 50px;
    width: 100px;
    font-size: 15px;
    
    color: black;
}

main {
    box-sizing: border-box;
    background-image: url(imgparch.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50vw;
    margin-left: 10vw;
    height: calc(100vh - 18.5vw - 4rem);
    overflow-y: scroll;
    font-family: "Homemade Apple", cursive;
    font-size: 2rem;
    color: rgba(100, 50, 0, 0.8);
    padding: 1.5rem 4rem;
    box-shadow: 1px 1px 15px  rgba(0,0,0,0.4);
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    

  }

.spellclass{
    color:black;
    text-decoration: underline;
    width:80%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding-left: 0.1em;
}

.desclass{
    color: purple;
}

.span3class{
    color: red;
}

ul.a {
    background-color: rgba(204,229,255,0.4);
    list-style-type: square;
    
    
}

.spell{
    display: flex;
    justify-content: space-between;
}
