@import url('https://fonts.googleapis.com/css?family=BioRhyme+Expanded');

body{
    background-image: url("img3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    font-family: 'BioRhyme Expanded', serif;
}

h1{
    text-align: center;
    font-size: 40px;
    color: white;
}

.cen{
    height: 50px;
    width: 100px;
    font-size: 15px;
    background-color: orange;
    color: black;
}

.cen:hover{
    background-image: url(img4.gif);
    color:white;
    background-size: cover;
}

.textcen{
    height: 25px;
    width: 200px;
}



#spells{
    color: white;
}

#spellbutton{
    height: 50px;
    width: 100px;
    font-size: 15px;
    
    color: black;
}