@import url('https://fonts.googleapis.com/css?family=BioRhyme+Expanded');
@import url('https://fonts.googleapis.com/css?family=Jua');


#pandatitle {
    font-family: 'Jua', sans-serif;
    font-style: italic bold;
    font-size: 80px;
    

    text-align: center;
    
    color:#313131;

    font-weight: bold;

    -webkit-animation:colorchange 20s infinite alternate;
    
    
  }

@-webkit-keyframes colorchange {
    0% {
      
      color: blue;
    }
    
    10% {
      
      color: #8e44ad;
    }
    
    20% {
      
      color: #1abc9c;
    }
    
    30% {
      
      color: #d35400;
    }
    
    40% {
      
      color: blue;
    }
    
    50% {
      
      color: #34495e;
    }
    
    60% {
      
      color: blue;
    }
    
    70% {
      
      color: #2980b9;
    }
    80% {
   
      color: #f1c40f;
    }
    
    90% {
   
      color: #2980b9;
    }
    
    100% {
      
      color: pink;
    }
  }




body{
    background-image: url("bamboo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    font-family: 'BioRhyme Expanded', serif;
}

img#panda{
    position: fixed;
    right: 5vw;
    top: 8vw;
    width: 20vw;
    z-index: 5;
}

img#panda2{
    position: absolute;
    left: 8vw;
    top: 20vw;
    width: 30vw;
}

img#tiger{
    position: absolute;
    right: 5vw;
    top: 25vw;
    width: 25vw;
}

h1{
    text-align: center;
    font-size: 40px;
    color: green;
    z-index: 10;
}

.cen{
    height: 50px;
    width: 100px;
    font-size: 15px;
    background-color: orange;
    color: black;


}

.cen:hover{
    background-image: url(img4.gif);
    color: white;
    background-size: cover;
}

.textcen{
    height: 25px;
    width: 200px;
    opacity: 0.8;
}



#spells{
    color: white;
    padding-left: 0;
    text-align: center;
    
}

#spellbutton{
    height: 50px;
    width: 100px;
    font-size: 15px;
    
    color: black;
}

main {
    box-sizing: border-box;
    background-image: url(imgparch.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 80vw;
    margin-left: 10vw;
    height: calc(100vh  - 4rem);
    overflow-y: scroll;
    font-family: "Homemade Apple", cursive;
    font-size: 2rem;
    color: rgba(100, 50, 0, 0.8);
    padding: 1.5rem 4rem;
    box-shadow: 1px 1px 15px  rgba(0,0,0,0.4);
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    

  }

.spellclass{
    color:black;
    text-decoration: underline;
    width:80%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding-left: 0.1em;
}

.desclass{
    color: purple;
}

ul.a {
    background-color: rgba(204,229,255,0.4);
    list-style-type: square;
    align-self: center;
    align-content: center;
}

.spell{
    display: flex;
    justify-content: space-between;
}

.name{
    color:black;
    align-self: center;
    text-align: center
}

.level{
    color:red;
    align-self: center;
}

input.small {
    height: 25px;
    width: 50px;
    opacity: 0.8;
}  

.delBut{
    height: 30px;
    width:70px;
    align-self: center;
    align-content: center;
    background-color:grey;
}

.delBut:hover{
    background-image: url(explode.gif);
    background-size: cover;
    color: white;
}

.listimg{
    width: 150px;
    height: 150px;
}